.header {
  background: rgb(19, 159, 181);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.header h1 {
  margin: 0;
}